NODE_ENV=development
PORT=3000

ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REDIRECT_URI=http://localhost:3000/oauth/callback

ZOHO_ACCOUNTS_BASE_URL=https://accounts.zoho.in
ZOHO_API_BASE_URL=https://www.zohoapis.in/inventory/v1

ZOHO_ORGANIZATION_ID=

ZOHO_ACCESS_TOKEN=
ZOHO_REFRESH_TOKEN=
